@import './assets/jsKeyboard/jsKeyboard.css';

@font-face {
  font-family: FbVictor-Regular;
  src: url(/assets/fonts/FbVictor-Regular.woff);
}

html, body {
  padding: 0;
  margin: 0;
  direction: rtl;
  height: 100%;
  font-family: arial, sans-serif;
}

body {
  background: transparent url(/assets/img/background.png) no-repeat center;
  background-size: cover;
}

footer {
  bottom: 0;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;

  h1 {
    color: #a82774;
    flex: 1;
    width: 100%;
    text-align: center;
    height: 100px;
    line-height: 100px;
    vertical-align: bottom;
    margin: 0;
    font-size: 80px;
    font-family: FbVictor-Regular, arial, serif;
  }

  .spacer {
    flex: 2;
  }
}

#form-wrapper {
  flex: 4;
  height: 100px;
  width: 600px;
  text-align: center;
  margin-bottom: 200px;

  input {
    box-sizing: border-box;
    width: 100%;
    font-size: 17px;
    height: 46px;
    line-height: 17px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    padding: 0 5px;
    text-align: center;
    font-family: FbVictor-Regular, arial, serif;
  }

  button {
    margin-top: 10px;
    background-color: #f2a20f;
    color: #fff;
    font-size: 25px;
    border: 0;
    border-radius: 3px;
    height: 50px;
    width: 210px;
    font-weight: bold;
    font-family: FbVictor-Regular, arial, serif;
    letter-spacing: 2px;
  }
}

.hide {
  display: none;
}

#thanks-wrapper {
  direction: rtl;
  text-align: center;
  margin-bottom: 200px;
  h2 {
    color: #a82774;
    font-size: 120px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: FbVictor-Regular, arial, serif;
  }
  h3 {
    margin: 0;
  }
}

#error {
  color: red;
  margin-top: 10px;
  text-align: right;
}

#hiddenInput {
  visibility: hidden;
}

